.qoute-box{
    background-color: white;
    margin: 12rem auto;
    width: 50%;
    height: 360px;
    padding: 2rem;
    position: relative;
    border-radius: 0.7rem;
}
.quote{
    color: coral;
    border-bottom: 1px solid orange;
    height: 120px;
    padding: 6rem;
    font-weight: bold;
    width: 100%;
}
.next{
    background-color: coral;
    padding: 0.6rem 0.8rem;
    margin-top: 3.4rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.author{
    color: coral;
    position: absolute;
    right: 4rem;
    top: 15rem;
    font-weight: bold;
}
